body {
    background-color: #000000;
    color: #05fa11;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}



h1 {text-align: center; 
    font-size: 4em;
    font-family: 'Arial', sans-serif;
    color: #fdfcfd;
    margin-bottom: 20px;text-decoration: underline;
}
h2 {text-align: center; 
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: #6102fa;
    margin-bottom: 10px;text-decoration: underline;
}
h3 {text-align: center; 
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color:  #6102fa;
    margin-bottom: 5px;text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0; text-align: center;font-size: 1.5em;
}   
p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    color: #05fa11;
    margin-bottom: 10px;
} 